/* DROPDOWN**/
#dropdown-selector {
    position: absolute;
    top: 0;
    right: 0;
}

#dropdown-selector {

    min-height: 50px;
    width: 180px;
    margin: 0;
    padding: 0;

    font-size: 1em;
    font-weight: bold;
    color: white;
    background-color: var(--brown);
    border-radius: 10px;
    border: none;
    cursor:  none;
}

#dropdown-selector ul {
    padding: 0;
    margin: 0;
}

/**HANDLE ACTIVE OPTIONS */
#dropdown-selector.active {
    z-index: 1;
}

#dropdown-selector:not(.active) li:not(.active) {
    display: none;
}

#dropdown-selector.active li {
    display: flex;
}

#dropdown-selector li.active {
    display: flex;
}

#dropdown-selector:not(.active) .fa-chevron-up {
    display: none;
}

#dropdown-selector.active .fa-chevron-down {
    display: none;
}

#dropdown-selector:not(.active) li:first-child .fa-chevron-down {
    display: block;
}

/** COLORS */
#dropdown-selector.active li.active {
    color: black;
}

#dropdown-selector.active li:hover {
    background-color:  var(--indian-red);
}

/**BORDERS*/
#dropdown-selector li:first-child, #dropdown-selector:not(.active) li {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#dropdown-selector li:last-child, #dropdown-selector:not(.active) li {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* ITEMS */
#dropdown-selector li {
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    cursor: pointer;
}


#dropdown-selector li {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#dropdown-selector li .row {
    flex: 1;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#dropdown-selector.active li:not(:last-child)::after {
    height: 1px;
    width: 80%;

    content: '';
    margin: 0;
    padding: 0;
    border-bottom: 1px solid white;
}

