/* DROPDOWN**/

ul#dropdown-orderby {
    position: absolute;
    top: 0;
    left: 200px;
}

ul#dropdown-orderby {

    min-height: 50px;
    width: 130px;
    margin: 0;
    padding: 0 1.5em;

    font-size: 1.1em;
    font-weight: bold;
    color: white;
    background-color: var(--brown);
    border-radius: 10px;
    border: none;
    cursor:  none;

}


#dropdown-orderby.active li {
    display: flex;
}

#dropdown-orderby li.active {
    display: flex;
}

#dropdown-orderby li:first-child:not(.active) {
    display: flex;
}

#dropdown-orderby li {
    display: none;
    margin: 0;
    padding: 0;
    height: 50px;
    width: 100%;
    cursor: pointer;

    flex-direction: column;
    align-items: center;
}

#dropdown-orderby li .fa-chevron-down {
    margin-left: 10px;
}

#dropdown-orderby li .text {
    flex: 1;
    display: flex;
    align-items: center;
    margin-right: 1em;
    width: 100%;
}

#dropdown-orderby.active li:not(:last-child)::after {
    content: '';
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
    margin-top: auto;
    border-bottom: 1px solid white;
}