.photograph__media .card {
    flex-basis: 28%;    
    height: 20vw;
    min-width: 250px;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.photograph__media .card__media {
    flex: 1;
    width: 100%;
    border-radius : 10px;
    overflow: hidden;
    cursor: pointer;
}

.photograph__media .card__body {
    height: 50px;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.1em;
}

.photograph__media .card__body > * {
    margin-left: 1em;
    margin-right: 1em;
} 

.photograph__media .card__body__likes-counter {
   margin-right: 0.5em; 
}

.photograph__media .fa-heart {
    color: var(--brown);
    cursor: pointer;
}
