
#contact_modal {
    display: none;
    position: fixed;
    top: 5%;
    left: 5%;
    right: 5%;
    bottom: 5%;
    overflow: hidden;
}

.modal {
    border-radius: 5px;
    background-color: var(--light-coral);
    width: 80vw;
    min-width: 300px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    row-gap: 1em;
    padding: 1em 2em 2em 2em;
    margin: auto;
}

.modal header {
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    font-weight: normal;
    flex-direction: row;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: var(--dark-grey);
    font-size: 1.5em;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal h3 {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 1.8em;
}

form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

form input#message {
    height: 100px;
}


@media screen and (max-width: 768px) {

    #contact_modal {
        top: 5%;
        left: 5%;
        right: 5%;
        bottom: 5%;
    }

    .modal {
        justify-content: flex-start;
        height: 95%;
        width: 100%;
        margin: 0;
        padding: 0;
    }


    .modal header {
        flex-direction: row;
    }
    .modal header h2 {
        font-weight: bold;
    }


    .modal .close-btn {
        height: 1.2em;
    }

    .modal form div {
        margin: 0;
    }

    .modal h3 {
        margin: 0;
        padding: 0;
    }

    .modal form input {
        height: 30px;
    }

    .modal form input#message {
        height: 50px;
    }

}