.modal {
    border-radius: 5px;
    background-color: var(--light-coral);
    width: 50%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em 2em 2em;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
    margin-top: 0;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: var(--dark-grey);
    font-size: 1.5em;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

.modal h3 {
    display: block;
    text-align: left;
    width: 100%;
    font-size: 1.8em;
    margin: 0 0 1em 0;
}

form input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 5px;
    margin-bottom: 1.5em;
}

form input#message {
    height: 100px;
}

#contact_modal {
    display: none;
    position: fixed;
    top: 5%;
    right: 10%;
    left: 10%;
    bottom: 20%;
}
