.photograph-header {
    background-color: var(--ghost-white);
    min-height: 300px;
    margin: 0 100px;
    padding: 0 3em;
    row-gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.photograph__meta__portrait {
    width : 200px;
    height: 200px;
    border-radius : 50%;
    overflow: hidden;
}


.photograph__media {
    margin: 0 100px;
}

.photograph__media .photograph__sort-medias {
    margin : 2em 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    height: 50px;
    border: 1px solid black;
}

.photograph__media .photograph__sort-medias {
    position: relative;
}

.photograph__media .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2em;
}

/**prevents article:last-child to stick to right because of space-between */
.photograph__media .cards::after {
    content: "";
    flex: 0 0 28%;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--brown);
    border-radius: 5px;
    cursor: pointer;
}


/***/

.photograph__popup {
    position: fixed;
    bottom:0;
    right: 2em;
    background-color: var(--light-coral);
    height: 3.5em;
    width: 16em;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 1em;
}

.photograph__popup .popup {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
    font-weight: bold;
    overflow: hidden;
}

.photograph__popup .popup__likes-wrapper {
    flex-basis: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
