.photograph-header {
    background-color: var(--ghost-white);
    min-height: 300px;
    margin: 0 100px;
    padding: 0 3em;
    row-gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.photograph__portrait {
    width : 200px;
    height: 200px;
    border-radius : 50%;
    overflow: hidden;
}

.photograph__portrait img, .photograph__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photograph__media {
    padding: 0 5em;
}

.photograph__media .photograph__orderby {
    margin : 2em 0;
}
.photograph__media .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2em;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--brown);
    border-radius: 5px;
    cursor: pointer;
}
