.photograph-header {
    background-color: var(--ghost-white);
    min-height: 300px;
    margin: 0 100px;
    padding: 0 3em;
    row-gap: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.photograph__meta__portrait {
    width : 200px;
    height: 200px;
    border-radius : 50%;
    overflow: hidden;
}


.photograph__media {
    margin: 0 100px;
}

.photograph__media .photograph__orderby {
    margin : 2em 0;
    font-weight: bold;
}
.photograph__media .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 2em;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: var(--brown);
    border-radius: 5px;
    cursor: pointer;
}


ul#dropdown-orderby {
    background-color: var(--brown);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 0 1em;
    min-height: 50px;
    width: 150px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
}

#dropdown-orderby.active li {
    display: block;
}

#dropdown-orderby li {
    display: none;
    border-radius: 20px;
    margin: 0;
    height: 50px;
    cursor: pointer;
}

#dropdown-orderby li.active {
    display: block;
}
