@import url("index.css");
@import url("photographer.css");
@import url("user-card.css");
@import url("profile-card.css");
@import url("media-card.css");
@import url("modal.css");
@import url("lightbox.css");
@import url("dropdown.css");
@import url("total-likes-popup.css");

:root {

    /* COLORS */
    --ghost-white: #FAFAFA;
    --light-coral: #DB8876;
    --indian-red: #D3573C;
    --brown : #901C1C;
    --grey: #757575;
    --dark-grey : #312E2E;

    /* BREAKPOINTS */
    --lg-minwidth : 992px;
    --md-maxwidth : var(--lg-minwidth) - 1px;
    --md-minwidth : 768px;
    --sm-maxwidth : var(--md-minwidth) - 1px;

}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    margin-top: 2em;
    padding: 0 2em;
}

h1 {
    color: var(--brown);
    font-size: 1.5em;
}


.logo {
    height: 3.5em;
}

.card img, 
.photograph__meta__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.photograph__media video {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


@media screen and (max-width: 768px) {

    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        padding: 0;
    }

}