@import url("index.css");
@import url("photographer.css");
@import url("user-card.css");
@import url("media-card.css");
@import url("modal.css");
@import url("lightbox.css");

:root {
    --ghost-white: #FAFAFA;
    --light-coral: #DB8876;
    --indian-red: #D3573C;
    --brown : #901C1C;
    --grey: #757575;
    --dark-grey : #312E2E;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 0.5em;
    height: 90px;
    margin-top: 2em;
    padding: 0 2em;
}

h1 {
    color: var(--brown);
    font-size: 1.5em;
}


.logo {
    height: 2.5em;
}

.photographer_section article img, 
.photograph__meta__portrait img,
.photograph__media img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}